.article-text-content a[href^="http"]::after {
        /* \00A0 is a non-breaking space */
    font-family: FontAwesome;
    font-size: 0.8em;
    content: "\00A0\f08e";
}

h1.article-title {
    margin-bottom: 0;
}

.md-source-date {
    margin-bottom: 25px;
}

details.abstract {
    max-width: 75%;
    border-left-color: #e8e8e8 !important;
}

details.abstract summary {
    background-color: #f9f9f9 !important;
    border-bottom-color: #e8e8e8 !important;
}

details.abstract summary::before {
    color: #8c8c8c !important;
}

.md-typeset .codehilite pre {
    padding: 0px;
}

.token-field {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin-top: 0.5rem;
    border-left: .2rem solid
    #4b4b4b;
    border-radius: .1rem;
    overflow: auto;
    padding: 0.5rem;
}

.json-input {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin-top: 0.5rem;
    border-left: .2rem solid
    #4b4b4b;
    border-radius: .1rem;
    overflow: auto;
    width: 500px!important;
    height: 200px;
    padding: 0.5rem;
}

.action-button {
    padding: 0.5rem;
    margin: 0.2rem;
}

.response-block {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin-top: 0.5rem;
    border-left: .2rem solid
    #4b4b4b;
    border-radius: .1rem;
    overflow: auto;
    padding: 0.5rem;
    font-size: 0.65rem;
}

.code-block {
    overflow: auto;
}