# Project info
site_name: "The Developer's Guide to Saxo's OpenAPI"
site_description: "The #1 reference for developers working with Saxo Bank's OpenAPI."
site_author: Gid van der Ven
copyright: "Copyright &copy; 2020 Gid van der Ven"
repo_url: https://github.com/gidven/saxo-openapi-guide
edit_uri: /gidven/saxo-openapi-guide/blob/master/docs


# MkDocs config
theme:
  name: null
  custom_dir: './material'
  language: 'en'
  direction: 'ltr'
  palette:
    primary: 'black'
    accent: 'indigo'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  logo:
    icon: 'school'
  feature:
    tabs: true


# Documentation structure
nav:
  - Home:
    - Welcome: index.md
    - Using this Guide: usage.md
    - Useful Tools: tools.md
    - Requesting Support: support.md
    - Disclaimer: disclaimer.md
  - The Basics:
    - Introduction: basics/index.md
    - Core Business Concepts:
      - Overview: basics/core-business-concepts/index.md
      - The Client-User-Account Model: basics/core-business-concepts/client-user-account.md
      - Retrieving Entity Data: basics/core-business-concepts/retrieving-entity-data.md
    - Fundamental Programming Concepts:
      - Overview: basics/fundamental-programming-concepts/index.md
      - WebSocket Streaming: basics/fundamental-programming-concepts/websocket-streaming.md
    - Frequently Asked Questions:
      - FAQ Guide: basics/faq/index.md
      - How do I authenticate?: basics/faq/authentication.md
  - Individual Developers:
    - Introduction: individual/index.md
  - Institutional Developers:
    - Introduction: institutional/index.md
  - 3rd-Party App Developers:
    - Introduction: third-party/index.md
  - Updates:
    - Overview: updates/index.md
    - Planned Changes: updates/changes.md
    - Release Notes:
      - Guide: updates/release-notes/index.md
      - 2019-12-13 - Breaking: updates/release-notes/2019-12-13.md
      - "2019-11-25": updates/release-notes/2019-11-25.md
      - "2019-09-03": updates/release-notes/2019-09-03.md


markdown_extensions:
  - toc:  # for linkable sub-headers in each page
      permalink: true
  - admonition  # for interactive note blocks
  - pymdownx.details  # requried for adminition
  - attr_list  # to enable in-line CSS for image resizing etc
  - footnotes  # for footnotes in articles
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid  # for easy mermaid diagrams
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - codehilite:
      guess_lang: False
  - meta



plugins:
  - search
  - git-revision-date-localized:
      type: timeago


extra:
  social:
    - type: 'github'
      link: 'https://github.com/SaxoBank'
    - type: 'twitter'
      link: 'https://twitter.com/saxobank'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/company/saxo-bank/'
    - type: 'globe'
      link: 'https://www.home.saxo'


extra_css:
  - 'css/custom.css'


extra_javascript:
  - https://unpkg.com/mermaid@8.4.6/dist/mermaid.min.js